header {
  background-image: url(../images/mobile/image-hero.jpg);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  height: 100vh;
} //? end header

.logo {
  position: relative;
  width: fit-content;
  height: min-content;
  padding: 5rem 1.5rem 1.5rem 3rem;
  z-index: 4;
} //?end logo

.menu-btn {
  position: absolute;
  z-index: 4;
  right: 3rem;
  top: 5.5rem;
  height: 2.1rem;
  width: 2.8rem;
  cursor: pointer;
  @include transition-ease;

  &-burger {
    position: absolute;
    right: 0;
    top: 0.8rem;
    width: 2.8rem;
    height: 0.3rem;
    background: $white;
    @include transition-ease;

    &::before {
      content: "";
      position: absolute;
      top: -0.8rem;
      width: 2.8rem;
      height: 0.3rem;
      background: $white;
      @include transition-ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0.8rem;
      width: 2.8rem;
      height: 0.3rem;
      background: $white;
      @include transition-ease;
    }

    &.open {
      transform: rotate(720deg);
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(0.5rem, 0.8rem);
      }

      &::after {
        transform: rotate(-45deg) translate(0.3rem, -0.6rem);
      }
    }
  }
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  opacity: 0.95;
  visibility: hidden;
  z-index: 3;

  &.open {
    visibility: visible;
  }
}
.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding-left: 2rem;
  background: $black;
  overflow: hidden;
  transform: translateX(100%);
  @include transition-ease;

  &.open {
    transform: translateX(0);
  }
  &-item {
    padding: 2.5rem 0;
    @include transition-ease;
  }

  &-link {
    font-family: $font-f-Josefin;
    font-size: 3rem;
    color: $white;
    text-transform: uppercase;
  }
} //? end navmenu

.floating-div {
  position: absolute;
  width: auto;
  border: 1px solid $white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h3 {
    font-family: $font-f-Josefin;
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $white;
    padding: 2rem;
  }
}

@include media-md {
  .floating-div {
    height: fit-content;

    h3 {
      font-size: 6.5rem;
      width: 13ch;
    }
  }
}
@include media-lg {
  header {
    background-image: url(../images/desktop/image-hero.jpg);
    background-size: auto;
    height: 650px;
    margin-bottom: 7rem;
    display: flex;
    justify-content: space-between;

    .nav {
      position: relative;
      visibility: visible;
      justify-self: flex-end;
      width: fit-content;
      height: min-content;
      padding-right: 3rem;

      &-menu {
        display: block;
        transform: translateX(0);
        height: 100%;
        background: transparent;
        text-align: right;

        &-item {
          display: inline-block;
          position: relative;
          padding-top: 5.3rem;
          padding-bottom: 1rem;
          margin-left: 2rem;

          &:hover::after {
            content: "";
            display: block;
            position: absolute; /* position this at the bottom */
            bottom: 0;
            left: 25%; /* left and right determine length of line, the longer you want it, the closer to 0 these values should be */
            right: 25%;
            height: 2px;
            background: $white; /* match the font color */
          }
        }
        &-link {
          font-family: $font-f-Alata;
          font-size: 1.5rem;
          color: $white;
          text-transform: capitalize;
        }
      }
    }

    .menu-btn {
      visibility: hidden;
    }
  }
  .floating-div {
    width: 60rem;
    transform: translate(0);
    top: 22rem;
    left: 16rem;

    h3 {
      font-size: 6.8rem;
      padding: 2.5rem 3.5rem 1.5rem 2.5rem;
    }
  }
}
@include media-xlg {
  header {
    width: 1440px;
    margin: 0 auto;
    margin-bottom: 7rem;
  }
}
